
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {

    display: flex;
    justify-content: center;
    align-items: center;
    background: #27a34e;

}

.Main .container {
    background-color: white;
    padding-top: 20px;
    padding-left: 15px;

}

.Main .container form input #textBox{
    width: 300px;
}



